{% extends "_base.twig" %}

{% set pageTitle = "Customer - " ~ customer.first_name ~ " " ~ customer.last_name %}
{# set backLink = "/" #}

{% block body %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="row">
					<div class="col-lg-2">
						<div class="form-group">
							<label>Title</label>
							<div class="form-readout">
								{{customer.title}}
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<label>First Name</label>
							<div class="form-readout">
								{{customer.first_name}}
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<label>Last Name</label>
							<div class="form-readout">
								{{customer.last_name}}
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Business Name</label>
							<div class="form-readout">
								{{customer.business_name}}
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Email Address</label>
							<div class="form-readout">
								{{customer.email_address}}
							</div>
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<div class="form-readout">
								{{customer.phone_number}}
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Address Line 1</label>
							<div class="form-readout">
								{{customer.address_line_1}}
							</div>
						</div>
						<div class="form-group">
							<label>Address Line 2<span>Optional</span></label>
							<div class="form-readout">
								{{customer.address_line_2}}
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-lg-8">
						<div class="form-group">
							<label>Town/City</label>
							<div class="form-readout">
								{{customer.town_city}}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<label>Post Code</label>
							<div class="form-readout">
								{{customer.post_code}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card__title">Bookings</div>
					<a href="/customers/{{customer.customer_id}}/create-booking" class="button button--primary button--fw">Create a Booking</a>
					{% if bookings_upc %}
					<h4 class="text-center mt-5">Upcoming</h4>
					<div class="table table--bookings mt-3">
						<div class="head-row">
							<span>Start Date</span>
							<span>Last Date</span>
							<span>Total Price</span>
						</div>
						{% for booking in bookings_upc %}
						<a class="link-row" href="/bookings/{{booking.booking_id}}">
							<span>{{booking.start_date}}</span>
							<span>{{booking.end_date}}</span>
							<span>£{{booking.total_price|number_format(2,'.')}}</span>
						</a>
						{% endfor %}
					</div>
					{% endif %}
					{% if bookings_cur %}
					<h4 class="text-center mt-5">Current</h4>
					<div class="table table--bookings mt-3">
						<div class="head-row">
							<span>Start Date</span>
							<span>Last Date</span>
							<span>Total Price</span>
						</div>
						{% for booking in bookings_cur %}
						<a class="link-row" href="/bookings/{{booking.booking_id}}">
							<span>{{booking.start_date}}</span>
							<span>{{booking.end_date}}</span>
							<span>£{{booking.total_price|number_format(2,'.')}}</span>
						</a>
						{% endfor %}
					</div>
					{% endif %}
					{% if bookings_pas %}
					<h4 class="text-center mt-5">Past</h4>
					<div class="table table--bookings mt-3">
						<div class="head-row">
							<span>Start Date</span>
							<span>Last Date</span>
							<span>Total Price</span>
						</div>
						{% for booking in bookings_pas %}
						<a class="link-row" href="/bookings/{{booking.booking_id}}">
							<span>{{booking.start_date}}</span>
							<span>{{booking.end_date}}</span>
							<span>£{{booking.total_price|number_format(2,'.')}}</span>
						</a>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
