{% extends "_base.twig" %}

{% set pageTitle = "Create a Booking - " ~ customer.first_name ~ " " ~ customer.last_name %}
{% set backLink = "/customers/"~customer.customer_id %}

{% block body %}
<section>
	<div class="container container--narrow">
		<form class="process-form">
			<input type="hidden" name="action" value="booking-create" />
			<input type="hidden" name="customer_id" value="{{customer.customer_id}}" />
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label>Customer</label>
						<div class="form-readout">
							{{customer.first_name}} {{customer.last_name}}
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-12">
					<div class="form-group">
						<label>Start Date</label>
						<input id="startDate" type="text" class="form-control" name="start_date" />
						<div class="form-error">
							This is error text.
						</div>
						<div class="form-help">
							The start date of the booking.
						</div>
					</div>
					<div class="form-group">
						<label>End Date</label>
						<input id="endDate" type="text" class="form-control" name="end_date" disabled />
						<div class="form-error">
							This is error text.
						</div>
						<div class="form-help">
							The end date of the booking.
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-12">
					<div class="card">
						<div class="card__title">Rooms</div>
						<div id="rooms">
							<div class="form-group">
								<label>Select Room</label>
								<select class="form-control" name="rooms[]">
									<option value="">Please Select</option>
									{% for room in rooms %}
									<option value="{{room.room_id}}">{{room.room_number}} - {{room.room_type}}{% if room.wheelchair_access %} - Wheelchair{% endif %}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<a href="#" id="addRoom" class="button button--fw mt-5">Add a Room</a>
					</div>
				</div>
			</div>

			<div class="row mt-5">
				<div class="col">
					<button class="button button--primary button--fw" type="submit">Create Booking</button>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock %}
