{% extends "_base.twig" %}

{% set pageTitle = "All Bookings" %}
{# set backLink = "/" #}

{% block body %}
{% if not bookings_upc and not bookings_cur and not bookings_pas %}
<section>
	<div class="container container--narrow">
		<p class="text-center">There are currently no bookings.</p>
	</div>
</section>
{% endif %}
{% if bookings_upc %}
<section>
	<div class="container container--narrow">
		<h4 class="text-center">Upcoming</h4>
		<div class="table table--bookings-index mt-3">
			<div class="head-row">
				<span>Booking No.</span>
				<span>Customer</span>
				<span>Start Date</span>
				<span>End Date</span>
			</div>
			{% for booking in bookings_upc %}
			<a class="link-row" href="/bookings/{{booking.booking_id}}">
				<span>#{{booking.booking_id}}</span>
				<span>{{booking.first_name}} {{booking.last_name}}</span>
				<span>{{booking.start_date}}</span>
				<span>{{booking.end_date}}</span>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% if bookings_cur %}
<section>
	<div class="container container--narrow">
		<h4 class="text-center">Current</h4>
		<div class="table table--bookings-index mt-3">
			<div class="head-row">
				<span>Booking No.</span>
				<span>Customer</span>
				<span>Start Date</span>
				<span>End Date</span>
			</div>
			{% for booking in bookings_cur %}
			<a class="link-row" href="/bookings/{{booking.booking_id}}">
				<span>#{{booking.booking_id}}</span>
				<span>{{booking.first_name}} {{booking.last_name}}</span>
				<span>{{booking.start_date}}</span>
				<span>{{booking.end_date}}</span>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% if bookings_pas %}
<section>
	<div class="container container--narrow">
		<h4 class="text-center">Past</h4>
		<div class="table table--bookings-index mt-3">
			<div class="head-row">
				<span>Booking No.</span>
				<span>Customer</span>
				<span>Start Date</span>
				<span>End Date</span>
			</div>
			{% for booking in bookings_pas %}
			<a class="link-row" href="/bookings/{{booking.booking_id}}">
				<span>#{{booking.booking_id}}</span>
				<span>{{booking.first_name}} {{booking.last_name}}</span>
				<span>{{booking.start_date}}</span>
				<span>{{booking.end_date}}</span>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
{% endblock %}
